.CFUserTextEncoding
.DS_Store
.IdentityService/
.Trash
.Xauthority
.ansible/
.aspnet/
.aws/
.bash_history
.bash_sessions/
.cache/
.cargo/
.conda/
.config/asciinema/install-id
.config/btop/
.config/configstore/
.config/filezilla/
.config/fontforge/
.config/gh
.config/htop/
.config/karabiner/assets/
.config/karabiner/automatic_backups/
.config/kitty/kitty.conf.bak
.config/weechat
.cups/
.datastore.yml
.docker/
.dotnet/
.fzf.bash
.fzf.zsh
.gem/
.gnupg/
.hex/
.irb_history
.julia/
.keras/
.kube/
.lesshst
.local/
.locus/
.mix/
.mono/
.mysql_history
.net/
.netrc
.node-gyp/
.node_repl_history
.nodenv/
.npm/
.nuget/
.parallel/
.psql_history
.putty/
.pyenv/
.python_history
.rbenv/
.redbean_history
.rediscli_history
.rustup/
.sbcl_history
.slack/
.slime/
.sqlite_history
.ssh/
.tads/
.templateengine/
.terminfo
.terraform.d/
.tintin/
.vim/..netrwhist.un~
.vim/.netrwhist
.vim/.netrwhist~
.vim/colors/tools
.vim/plugged/
.vim/tmp
.viminfo
.viminfo.tmp
.viminfz.tmp
.vimrc~
.visidata/
.vscode/
.w3m/cookie
.w3m/history
.webdrivers/
.wget-hsts
.xbrl-cache/
.yarnrc
.z
.zcode/
.zcompdump
.zprofile
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Fonts/
Games/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Work/
Zotero/
ansible/
bin/althttpd
build/
calibre/
go/
local/
nltk_data/
quicklisp/
tmp/
