.CFUserTextEncoding
.DS_Store
.IdentityService/
.Xauthority
.aws/
.bash_history
.bash_sessions/
.cache/
.cargo/
.config/gh
.config/karabiner/automatic_backups/
.config/karabiner/assets/
.config/kitty/kitty.conf.bak
.config/weechat
.dotnet/
.gem/
.gnupg/
.irb_history
.julia/
.lesshst
.local/
.mono/
.net/
.node_repl_history
.npm/
.nuget/
.parallel/
.python_history
.rbenv/
.rustup/
.sbcl_history
.slime/
.sqlite_history
.ssh/
.stardict/
.tads/
.templateengine/
.vim/.netrwhist
.vim/plugged
.vim/tmp
.viminfo
.viminfo
.visidata/
.yarnrc
.z
.zcode/
.zcompdump
.zprofile
.Trash
Applications/
Desktop/
Documents/
Downloads/
Fonts/
Games/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
build/
calibre/
local/
quicklisp/
tmp/
